*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

.register-contrainer{
    position: relative;
    width: 480px;
    height: 520px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;


}


/* l part hedhy doesn't work ye raby nd there is no reason why  */
/*it works now*/
.register-contrainer::before {
    content: '';
    position: absolute;
    width: 480px;
    height: 520px;
    background: linear-gradient(#45f3ff,#d6118b);
    animation: animate 6s linear infinite;
}


.register-contrainer::after {
    content: '';
    position: absolute;
    background: #45f3ff;
    inset: 5px;
    border-radius: 16px;
    }

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.register-contrainer form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.register-contrainer form h1{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}



.register-contrainer form .form-group {
    position: relative;
    width: 300px;
    margin-top: 20px;

}

.form-group input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.register-contrainer form .form-group label{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.register-contrainer form .form-group input:valid ~ span,
.register-contrainer form .form-group input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.register-contrainer form .form-group i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;

}


.register-contrainer form .form-group input:valid ~ i,
.register-contrainer form .form-group input:focus ~ i{
    height: 44px;

}


.register-contrainer form .links{
    display: flex;
    justify-content: space-between;
}

.register-contrainer form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}


.register-contrainer form .links a:hover,
.register-contrainer form a:nth-child(2){
    color: #fff;
}

.btn-primary{
    border: none;
    outline: none;
    padding: 10px 100px;
    background: #fff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    font-weight: 600;
    margin-top: 10px;
}




a{
    color: #007bff;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}