

{% block stylesheets %}
    <!-- Vous pouvez ajouter des feuilles de style spécifiques à cette page ici -->
{% endblock %}

{% block body %}
    <nav class='nav_bar'>
        <ul>
            <li>
                Hello
            </li>  
            <li>
                Hello
            </li>
            <li>
                Hello
            </li>  
            <li>
                Hello
            </li> 
        </ul>
        <div>
            <input name='majd'>
        </div>
    </nav>
    <!-- Le contenu spécifique à cette page peut être ajouté ici -->
{% endblock %}

{% block javascripts %}
    <!-- Vous pouvez ajouter des scripts JavaScript spécifiques à cette page ici -->
{% endblock %}
